:root {
    --main-background-color-0: #2E2E2E;
    --main-background-color-1: #0C0C0C;
    --main-color-0: #CCCCCC;
    --main-color-1: #C74F55;
    --main-color-2: #4A9F30;
}

body {
    margin: 0;
    background-color: var(--main-background-color-0);
    color: var(--main-color-0);
    display: flex;
    flex-direction: column;
    position: fixed;
    transform-origin: 0 0;
    
    overscroll-behavior: none;
    overflow: hidden;
}
body *:not(.tab *) {
    font-size: 18px;
    font-family: "MS Gothic", "ＭＳ ゴシック", monospace;
}

img {
    -webkit-user-drag: none;
}

header {
    display: flex;
    user-select: none;
}

header .tab {
    background-color: var(--main-background-color-1);
    margin: 8px 7px 0;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    width: 225px;

    display: flex;
    align-items: center;
    gap: 10px;
    
    font-size: 14px;
    color: white;
}
header .tab div {
    text-wrap: nowrap;
}

header .tab-img {
    padding-top: 5px;
    margin: auto 5px;
    width: 15px;
    height: 15px;
}

header .vl {
    color: #3C3C3C;
    padding-top: 5px;
    margin: auto 0;
    font-size: 20px;
}

header .spacer {
    min-width: 30px;
}

header .window-img {
    display: block;
    margin: auto 15px;
    width: 17px;
    height: 17px;
}

header .window-img.maximize {
    padding-top: 9px;
}
header .window-img.close {
    width: 20px;
    height: 20px;
}

#cmd-window {
    width: calc(100% - 10px);
    padding: 10px 5px;
    background-color: var(--main-background-color-1);
    flex: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#cmd-window::-webkit-scrollbar {
    display: none;
}
#cmd-window::selection {
    background-color: white;
    color: black;
}

#cmd-window pre {
    margin: 0;
}

#display {
    color: transparent;
}

/* その他 */
.flex-1 {
    flex: 1;
}

.backslash {
    font-family: Arial !important;
    display: inline-block;
    width: 9px;
    text-align: center;
}

.backslash.selected {
    background-color: white;
    color: black;
}